{% extends "site.html" %} {% block title %}PyLadies Paris{% endblock %}

{% block style %}
    <meta charset="UTF-8">
    <style>
    article {
        text-align: justify;
    }
    </style>
{% endblock %}

{% block content %}
        <h1>Introduction</h1>
            <article>
        <h1>PyLadies Paris</h1>
            <article>
                <h2>Bonjour !</h2>

                <p>PyLadies Paris est le groupe PyLadies situé à Paris. Ensemble, nous partageons nos connaissances, et nous nous retrouvons en présentiel ou en ligne, pour échanger autour du language de programmation Python.</p>

                <p>Nous organisons plusieurs types d’évènements : des ateliers
                de programmation, des discussions, des conférences, des jeux et des apéros.</p>

                <p>N'hésitez pas à participer à nos activités, quelque soit votre niveau en Python :)</p>

                <h2>Où nous trouver ?</h2>
                <ul>
                    <li>Sur Twitter : <a href="https://twitter.com/PyLadiesParis" target="_blank">PyLadiesParis</a>.</li>
                    <li>Sur Meetup : <a href="https://www.meetup.com/PyLadiesParis/" target="_blank">PyLadiesParis</a>.</li>
                    <li>Sur GitHub : <a href="https://github.com/PyLadiesParis" target="_blank">PyLadiesParis</a>.</li>
                </ul>
                    <h2>Code de Conduite</h2>
                    <p>La communauté PyLadies Paris s'efforce d'assurer un environement respectueux et sans harcèlement pour tous-tes. Notre code de conduite est consultable sur <a href="https://github.com/PyLadiesParis/Codeofconduct">GitHub</a>.</p>
            </article>

            <article>
                <h2>Equipe</h2>
                    <li><a href="http://maria.telenczuk.pl/" target="_blank">Maria Telenczuk</a></li>
                    <li><a href="https://twitter.com/maudstweets" target="_blank">Maud Levy</a></li>
                
                    Un grand merci à Constance-Louise qui a designé notre nouveau logo en janvier 2021!
                </article>
            <br>

            <article>
                <h2>Hello!</h2>
                <p>We're the PyLadies chapter located in Paris. Together, we share knowledge, we gather in-person and online to chat and share around the Python programming language.</p>

                <p>We organize various activites: programming workshops, discussions, conferences, games and drinks.</p>

                <p>Feel free to join our activities, no matter what your experience with Python.:)</p>

                <h2>Where can you find us?</h2>
                <ul>
                    <li>On Twitter: <a href="https://twitter.com/PyLadiesParis" target="_blank">PyLadiesParis</a>.</li>
                    <li>On Meetup: <a href="http://www.meetup.com/fr/PyLadiesParis" target="_blank">PyLadiesParis</a>.</li>
                    <li>On GitHub : <a href="https://github.com/PyLadiesParis" target="_blank">PyLadiesParis</a>.</li>
                </ul>

                <h2>Code of conduct</h2>
                <p>Pyladies Paris is dedicated to providing a respectful, harassment-free community for everyone. You can find our Code of Conduct on <a href="https://github.com/PyLadiesParis/Codeofconduct">GitHub</a>.</p>
            </article>

            <article>
                <h2>Team</h2>
                <li><a href="http://maria.telenczuk.pl/" target="_blank">Maria Telenczuk</a></li>
                <li><a href="https://twitter.com/maudstweets" target="_blank">Maud Levy</a></li>

                A big thank you to Constance-Louise, who designed our new logo in January 2020!
            </article>
{% endblock %}
